<?xml version="1.0"?>

<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="dual_iiwa">
  
  <!-- Import Rviz colors -->
  <xacro:include filename="$(find iiwa_fri_description)/urdf/materials.xacro" />
  <!--Import the iiwa macros -->
  <xacro:include filename="$(find iiwa_fri_description)/urdf/iiwa14.xacro"/>

  <xacro:include filename="$(find iiwa_fri_description)/urdf/iiwa7.xacro"/>
  
  <!--  Hardware interface options (currently both robots will need the same interface -->
  <xacro:arg name="hardware_interface" default="PositionJointInterface"/>

  <link name="world"/>
  
  <gazebo reference="world">
    <static>true</static>
  </gazebo>

  <xacro:iiwa7 hardware_interface="$(arg hardware_interface)" robot_name="iiwa7" parent="world">
    <origin xyz="0.0 0.0 0.006" rpy="0.0 0.0 ${pi/2}"/>
  </xacro:iiwa7>

  <xacro:iiwa14 hardware_interface="$(arg hardware_interface)" robot_name="iiwa14" parent="world">
    <origin xyz="0.0 0.7 0.008" rpy="0.0 0.0 ${-pi/2}"/>
  </xacro:iiwa14>
  
</robot> 
