<?xml version="1.0"?>

<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="sat_iiwa">

    <!--Import the iiwa macros -->
    <xacro:include filename="$(find sat_iiwa_description)/urdf/materials.xacro" />
    <xacro:include filename="$(find sat_iiwa_description)/urdf/iiwa14.xacro"/>
    <xacro:include filename="$(find sat_iiwa_description)/urdf/iiwa7.xacro"/>

    <!-- Import the Shadow macros -->
    <xacro:include filename="$(find sr_description)/materials.urdf.xacro"/>
    <xacro:include filename="$(find sr_description)/hand/xacro/full_hand.urdf.xacro"/>
    <xacro:include filename="$(find sr_description)/other/xacro/gazebo/gazebo.urdf.xacro"/>


    <!--  Hardware interface options (currently both robots will need the same interface -->
    <xacro:arg name="hardware_interface" default="PositionJointInterface"/>
    <xacro:arg name="mainpulator_arm_name" default="iiwa14"/>
    <xacro:arg name="vision_arm_name" default="iiwa7"/>

    <link name="world"/>

    <gazebo reference="world">
        <static>true</static>
    </gazebo>

    <xacro:iiwa7 hardware_interface="$(arg hardware_interface)" robot_name="$(arg vision_arm_name)" parent="world">
        <origin xyz="0 0 0" rpy="0 0 0"/>
    </xacro:iiwa7>

    <xacro:iiwa14 hardware_interface="$(arg hardware_interface)" robot_name="$(arg manipulator_arm_name)" parent="world">
        <origin xyz="0.909536 0.612165 0.00393988" rpy="-0.00276109 0.00294195 -1.56426"/>
    </xacro:iiwa14>

    <xacro:shadowhand muscletrans="false" muscle="false" bio="false" bt_sp="false" ubi="false" eli="false"
                      reflect="-1.0" prefix="lh_" lf="true"/>

    <joint name="iiwa_arm_to_hand" type="fixed">
        <parent link="$(arg manipulator_arm_name)_ee_link"/>

        <child link="lh_forearm"/>

        <origin xyz="0.012 0.0 0.0" rpy="${pi/2.0} ${0.0} ${pi/2.0}"/>

    </joint>

</robot> 
