<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="iiwa">
    <xacro:include filename="$(find iiwa_fri_description)/urdf/iiwa14.xacro"/>

    <!-- parameters -->
    <xacro:arg name="name" default="iiwa"/>

    <!-- arm -->
    <xacro:iiwa14
            robot_name="$(arg name)"
            hardware_interface="PositionJointInterface"
            />
</robot>