<?xml version="1.0"?>

<launch>
      <!-- <arg name="model" default="$(find instrument_description)/urdf/rigid_scope.urdf.xacro" /> -->
      <arg name="model" default="$(find iiwa_description)/urdf/iiwa7.urdf.xacro" />
      <arg name="gui" default="True" />

      <param name="robot_description" command="$(find xacro)/xacro.py $(arg model)"/>
      <param name="use_gui" value="$(arg gui)"/>

      <!-- <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" ></node> -->
      <!-- <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" /> -->
      <!-- <node name="rviz" pkg="rviz" type="rviz" args="-d $(find sam_load_urdf_into_rviz)/urdf.rviz" /> -->
       <node name="rviz" pkg="rviz" type="rviz" />   
</launch>
